@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}

.sticky {
    background-color: black;
}

.nav-active {
    color: #00e6e6;
}